*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
}



.grid-container-ep{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url("./IMG_20231124_103434_163.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-container-home{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url("./HighresScreenshot00005\ \(1\).png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-container-games{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url("./games.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-container-tournaments{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 130vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url("./tournaments.png");
    background-size: cover;
    background-position: center;
}

.grid-container-marketplace{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url("./marketplace.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-container-dt{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.3)), url("./dev_tools.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-container-dao{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url("./dao.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.grid-container-login{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url("./HighresScreenshot00005\ \(1\).png");
    background-size: cover;
    background-position: center;
}

.menu{
    display:flex;
    width: 80%;
    justify-content: space-between;
    list-style-type: none;
}

.sidebar{
    grid-column-start: 1;
    grid-row: 2;
    grid-row-end: 9;
    top: 0;
    left: 0;
}

.navbar{
    position: sticky;
    top: 0;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 8;
    background: rgba(0,0,0,0.11);
    backdrop-filter: blur(8px);
    height: 6vh;
    z-index: 1;
}

.navbuttons{
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    flex-basis: 70%;
    padding-top: 1rem;
}

.navbuttons-login{
    display: flex;
    width: 90%;
    padding-top: 1rem;
    justify-content: space-evenly;
}

.button{
    display: block;
    position: relative;
    text-decoration: none;
    font-family: 'Tajawal', sans-serif;
    font-size: 18px;
    letter-spacing: 0.5px;
    color: #a0a0a0;
    padding: 0 10px;
}

.button::after{
    content: "";
    position: absolute;
    background-color: #ff3c78;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: .2s;
}

.button:hover{
    color: #fafafa;
}

.button:hover::after{
    width: 100%;
}

.button.active{
    color: #fafafa;
}

.button.active::after{
    width: 100%;
}


.navmenu{
    --button-color: white;
    background-color: transparent;
    border: none;
    display: none;
}

.menu-line {
    transition: stroke-dasharray .7s,stroke-dashoffset .7s;
    transition-delay: .12s;
    stroke-width: 3;
    stroke-linecap: round;
}

.menu-line.top {
    stroke-dasharray: 40 172
}

.menu-line.middle {
    stroke-dasharray: 40 111
}

.menu-line.bottom {
    stroke-dasharray: 40 172
}

.menu-line.active.top {
    stroke-dashoffset: -132px
}

.menu-line.active.middle {
    stroke-dashoffset: -71px
}

.menu-line.active.bottom {
    stroke-dashoffset: -132px
}

.icons-container{
    display: flex;
    position: fixed;
    flex-direction: column;
    padding: 1vw;
    align-items: center;
    height: 30vh;
    justify-content: space-evenly;
    margin-top: 10vh;
}

.icon.telegram:hover{
    transform: scale(1.3);
    transition: .3s;
    content: url("./Buttons-20240211T165955Z-001/Buttons/Telegram\ Hover.png");
}

.icon.discord:hover{
    transform: scale(1.3);
    transition: ease-out .3s;
    content: url("./Buttons-20240211T165955Z-001/Buttons/Discord\ Hover.png");
}

.icon.twitter:hover{
    transform: scale(1.3);
    transition: ease-out .3s;
    content: url("./Buttons-20240211T165955Z-001/Buttons/Twitter\ Hover.png");
}

.icon.website:hover{
    transform: scale(1.3);
    transition: ease-out .3s;
    content: url("./Buttons-20240211T165955Z-001/Buttons/Website\ Hover.png");
}



.logo{
    width: 40px;
    margin-left: 1vw;
}

.card-container{
    display: grid;
    grid-column-start: 3;
    
}

._card{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    padding: 2rem 2.5rem;
    backdrop-filter: blur(8px);
    background-color: rgba(225,225,225,0.25);
}

._card-login{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    padding: 2rem 2.5rem;
    backdrop-filter: blur(8px);
}

.cb1{
    width: 40rem;
    height: 20rem;
    margin: 1rem;
    clip-path: polygon(50% 0%, 86% 0, 100% 22%, 100% 79%, 100% 100%, 0 100%, 0 83%, 0% 43%, 0 0);
}

.login-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 94vh;
    width: 100vw;
}

.cb1-login{
    width: 40rem;
    height: 25rem;
    margin: 1rem;
    clip-path: polygon(0 0, 80% 0%, 100% 0, 100% 80%, 100% 100%, 15% 100%, 0 75%, 0% 20%);
    background-color: rgba(225, 225, 225, 0.09);
}

.login-content-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.login-title{
    color: #fafafa;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-instructions{
    color: #fafafa;
    display: flex;
    font-size: 1.3rem;
    margin-top: 4vh;
}

.login-section{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    flex: 1;
}

.wallet-buttons-container{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
}

.cb2-container{
    display: flex;
}

.cb2{
    width: 20rem;
    min-height: 15rem;
    margin: 1rem;
    clip-path: polygon(50% 0%, 86% 0, 100% 22%, 100% 79%, 100% 100%, 0 100%, 0 83%, 0% 43%, 0 0);
}

.cb3-container{
    display: grid;
    grid-column-start: 5;
}

.cb3{
    position: relative;
    width: 25rem;
    min-height: 30rem;
    margin: 1rem;
}

.card-container-home{
    display: grid;
    grid-column-start: 3;
}

.body-container{
    display: flex;
    flex-direction: column;
}

.body-container h2{
    margin-left: 6.2vw;
    margin-top: 2vh;
    color: #fafafa;
}

.body-container p{
    margin-left: 6.2vw;
    margin-top: 1vh;
    color: #dadada;
}

.cb3-home{
    margin: 1rem;
    padding: 4%;
    width: 70vw;
    height: 20vh;
    left: 7%;
    clip-path: polygon(0 0, 100% 0, 100% 51%, 90% 100%, 0% 100%, 0 79%);
    z-index: 0;
}

.vr-guy{
    position: absolute;
    width: 35rem;
    right: 0.1%;
    bottom: 17%;
    
}

.title{
    color: #fafafa;
    font-family: 'Tajawal', sans-serif;
}

.text{
    color: #dadada;
    font-size: larger;
}

._btn{
    width: 16rem;
    height: 2.5rem;
    background-color: #b28539;
    clip-path: polygon(90% 5%, 10% 5%, 1% 50%, 10% 95%, 90% 95%, 99% 50%);
    transition: 0.5s;
    color: #fafafa;
}

._btn:hover{
    background-color: rgba(32, 18, 18, 0.38);
    color: white;
    letter-spacing: 0.2px;
}

._btn-wallet{
    width: 26rem;
    height: 2.5rem;
    background-color: rgba(32, 18, 18, 0.58);
    clip-path: polygon(90% 5%, 10% 5%, 1% 50%, 10% 95%, 90% 95%, 99% 50%);
    transition: 0.5s;
    color: #a0a0a0a0;
}


.metamask-icon{
    height: 1.8vh;
    position: absolute;
    right: 65%;
    padding-top: .1rem;
}

.walletconnect-icon{
    height: 2vh;
    position: absolute;
    right: 64%;
}

._btn-wallet:hover{
    background-color: rgba(32, 18, 18, 0.28);
    letter-spacing: 0.2px;
    color: #fafafa;
}

.tournament-cards-container{
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 3.5vw;
}

.tournament-card{
    width: 15vw;
    height: 34vh;
    backdrop-filter: blur(8px);
    background-color: rgba(225, 225, 225, 0.011);
    box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
    margin: 1vw;
}

.tournament-card img{
   width: 100%;
   height: auto;
}

.tournament-card h3{
    text-align: center;
    margin: 1.3vh;
}

.tournament-card p{
    text-align: center
}

.tournament-card a{
    text-align: center;
    display: block;
    text-decoration: none;
}

.card-icons-container{
    display: flex;
    flex-wrap: wrap;
    padding: 1vw;
}

.calender-container{
    height: 1.5vh;
    display:inline-flex;
}

.calender-text{
    color: #a0a0a0;
    margin-left: .4vw;
}

.people-container{
    display: inline-flex;
    height: 1.5vh;
    margin-left: 1vw;
}

.people-text{
    color: #a0a0a0;
    margin-left: .4vw;
}

.body-container{
    display: flex;
    justify-content: left;
    margin-left: 1.4vw;
    margin-top: 1vh;
}


.search{
    backdrop-filter: blur(2px);
    
}

.search-input{
    background-color: rgba(225, 225, 225, 0.107);
    width: 20vw;
    height: 2.3vh;
    text-align: center;
    color: #a0a0a0;
}

@media (max-width: 1545px) {
    .title{
        font-size: 2rem;
    }

    .text{
        font-size: 1.12rem;
    }

    .tournament-card .title{
        font-size: 1.5rem;
    }

    .calender-text, .people-text{
        font-size: .85rem;
    }

    .tournament-card{
        height: 30vh;
    }
}

@media (max-width: 1325px) {
    .calender-text, .people-text{
        font-size: .75rem;
    }

    .cb3-home{
        height: 15vh;
        width: 80vw;
        padding-bottom: 7vh;
    }

    .title{
        font-size: 1.7rem;
    }
}

@media (max-width: 1250px){
    .text{
        font-size: 1rem;
    }
}

@media (max-width: 1160px) {
   .calender-text, .people-text{
    font-size: .7rem;
   }

   .tournament-card{
    height: 25vh;
   }

   .calender-container, .people-container{
    height: 1.2vh;
   }

   .tournament-card .title{
    font-size: 1.2rem
   }

   .title-h{
    font-size: 1rem;
   }

}

@media (max-width: 1047px) {
    .menu{
        right: 0;
        display: none;
    }
    .menu.active{
        justify-content: start;
        flex-direction: column;
        align-items: center;
        position: fixed;
        display: flex;
        top: 0;
        right:0;
        background: rgba(0,0,0,0.45);
        backdrop-filter: blur(8px);
        width: 200px;
        height: 55vh;
        justify-content: space-between;
        padding-top: 3vh;
        padding-bottom: 4vh;
        margin-top: 6vh;
        transition: ease-out .3s;
    }

    .navmenu{
        display: block;
    }

    .calender-container, .people-container{
        height: 1vh;
    }

    .calender-text, .people-text{
        font-size: .6rem;
    }
    
    .tournament-card .title{
        font-size: 1.1rem;
    }
}


@media (max-width: 954px){
    .calender-container, .people-container{
        height: .88vh;
    }

    .tournament-card{
        height: 23vh;
    }

    .cb3-home{
        height: 12vh;
    }

    .title{
        font-size: 1.5rem;
    }

    .text{
        font-size: .8rem;
    }

    .grid-container-tournaments{
        height: 100vh;
    }

    .tournament-card-button{
        font-size: 80%;
    }
}

@media (max-width: 820px){
    .calender-container, .people-container{
        height: .8vh;
    }

    .tournament-card .title{
        font-size: .9rem
    }

    .tournament-card{
        height: 20vh;
    }

    .calender-text, .people-text{
        font-size: .5rem;
    }

}

@media (max-width: 699px){

    .title{
        font-size: 1rem;
        margin: 0;
        padding-bottom: 0;
    }

    .text{
        font-size: .5rem;
    }

    .tournament-card .title{
        font-size: .55rem;
    }

    .calender-text, .people-text{
        font-size: .35rem;
    }

    .calender-container, .people-container{
        height: .5vh;
    }

    .cb3-home{
        width: 66vw;
        height: 13.5vh;
    }

    .menu.active{
        margin-top: 10vh;
    }

    .card-container-home{
        height: 90vh;
    }

    .tournament-card-button{
        font-size: 50%;
    }

    .tournament-cards-container{
        margin-top: 0;
    }

    .body-container{
        height: 5vh;
        margin-top: 0;
    }

    .card-container-home{
        gap: 0px;
        height: 60vh;
    }

}

@media (max-width: 500px){
    .tournament-card .title{
        font-size: .45rem;
    }

    .calender-text, .people-text{
        font-size: .2rem;
    }

    .tournament-card{
        height: 17vh;
    }


    .cb3-home{
        height: 11vh;
        width: 70vw;
    }

}