*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
}


.grid-container-ep{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url("./IMG_20231124_103434_163.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.grid-container-home{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url("./HighresScreenshot00005\ \(1\).png");
    background-size: cover;
    background-repeat: no-repeat;
}

.grid-container-games{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url("./games.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.grid-container-tournaments{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url("./tournaments.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.grid-container-marketplace{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url("./marketplace.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.grid-container-dt{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url("./dev_tools.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.sidebar{
    background: rgba(0,0,0,0.11);
    position: sticky;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 9;
    top: 0;
    left: 0;
    padding: 20px;
}

.navbar{
    position: sticky;
    top: 0;
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 8;
    background: rgba(0,0,0,0.11);
    backdrop-filter: blur(8px);
}

.navbuttons{
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    flex-basis: 70%;
    margin-left: 12rem;
}

.button{
    position: relative;
    text-decoration: none;
    font-family: 'Tajawal', sans-serif;
    font-size: 18px;
    letter-spacing: 0.5px;
    color: #a0a0a0;
    padding: 0 10px;
}

.button::after{
    content: "";
    position: absolute;
    background-color: #ff3c78;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: .2s;
}

.button:hover{
    color: #fafafa;
}

.button:hover::after{
    width: 100%;
}

.button.active{
    color: #fafafa;
}

.button.active::after{
    width: 100%;
}


.navmenu{
    --button-color: white;
    background-color: transparent;
    border: none;
}

.menu-line {
    transition: stroke-dasharray .7s,stroke-dashoffset .7s;
    transition-delay: .12s;
    stroke-width: 3;
    stroke-linecap: round;
}

.menu-line.top {
    stroke-dasharray: 40 172
}

.menu-line.middle {
    stroke-dasharray: 40 111
}

.menu-line.bottom {
    stroke-dasharray: 40 172
}

.menu-line.active.top {
    stroke-dashoffset: -132px
}

.menu-line.active.middle {
    stroke-dashoffset: -71px
}

.menu-line.active.bottom {
    stroke-dashoffset: -132px
}

.icons-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
    justify-content: space-evenly;
}

.icon{
    width: 4rem;
    height: 4rem;
}

.icon:hover{
    transform: scale(1.3);
    transition: ease-out .3s;
}

.logo-container{
    display: flex;
    position: sticky;
    backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.11);
    justify-content: center;
    align-items: center;
    border: none;
}

.logo{
    height: 4rem;
    top: 0;
}

.card-container{
    display: grid;
    grid-column-start: 3;
    
}

._card{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    padding: 2rem 2.5rem;
    backdrop-filter: blur(8px);
    background-color: rgba(225,225,225,0.25);
}

.cb1{
    width: 40rem;
    min-height: 20rem;
    margin: 1rem;
    clip-path: polygon(50% 0%, 86% 0, 100% 22%, 100% 79%, 100% 100%, 0 100%, 0 83%, 0% 43%, 0 0);
}

.cb2-container{
    display: flex;
}

.cb2{
    width: 20rem;
    min-height: 15rem;
    margin: 1rem;
    clip-path: polygon(50% 0%, 86% 0, 100% 22%, 100% 79%, 100% 100%, 0 100%, 0 83%, 0% 43%, 0 0);
}

.cb3-container{
    display: grid;
    grid-column-start: 5;
}

.cb3{
    position: relative;
    width: 25rem;
    min-height: 30rem;
    margin: 1rem;
}

.card-container-home{
    display: grid;
    grid-column-start: 3;
}

.card-container-home h2{
    margin-left: 4.8vw;
    margin-top: 2vh;
}

.cb3-home{
    margin: 1rem;
    width: 50vw;
    height: 20vh;
    left: 7%;
    clip-path: polygon(0 0, 100% 0, 100% 51%, 90% 100%, 0% 100%, 0 79%);
}

.vr-guy{
    position: absolute;
    width: 35rem;
    right: 0.1%;
    bottom: 17%;
    
}

.title{
    color: #fafafa;
    font-family: 'Tajawal', sans-serif;
}

.text{
    color: #dadada;
    font-size: larger;
}

._btn{
    width: 16rem;
    height: 2.5rem;
    background-color: rgba(32, 18, 18, 0.45);
    clip-path: polygon(10% 5%, 90% 5%, 100% 51%, 88% 95%, 13% 95%, 0 51%);
    border-style: inherit;
    transition: 0.3s;
}

._btn:hover{
    background-color: rgba(32, 18, 18, 0.38);
    color: white;
    letter-spacing: 1px;
}

/*
clip-path: polygon(10% 0, 90% 0, 100% 50%, 100% 50%, 90% 100%, 10% 100%, 0 50%, 0 50%);
