.grid-container{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}


.header{
    width: 100vw;
    height: 40vh;
    background-image:url("./HighresScreenshot00000.png");
    background-size: cover;
    grid-column-start: span 5;
    margin: 0;
    padding: 0;
}
